/* Write your CSS here */
.navbar{
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 0px 1px #dcdcdc;
}
.nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:90%;
    max-width: 460px;
    padding: 20px;
}
.logo{
    height: 40px;
    width: 40px;
}
hamburger-icon-button{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    height:35px;
    width:40px;
}
.popup-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    height:100vh;
    width: 100vw;
}
.close-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:90%;
    max-width: 460px;
    flex-grow: 1;
}
.close-button{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    align-self: flex-end;
    margin-top:32px;
    height:30px;
    width:30px;
}
.nav-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.list-items{
    list-style-type: none;
}
.nav-link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-bottom: 30px;
    color: #616e7c;
}
.desc{
    font-family: 'Roboto';
    font-size:32px;
    font-weight: 500;
    line-height: 1.2;
    margin-left: 10px;
}
@media screen and (min-width:768px){
    .logo{
        height: 50px;
        width: 50px;
    }
    .nav-content{
        max-width: 1110px;
        padding: 30px;
    }
    .close-container{
        max-width: 1110px;
    }
    .desc{
        font-size: 40px;
    }
}



